/* Style for the Typeahead dropdown menu */
.tt-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #ccc;
    box-sizing: border-box;
    margin-left: 5px;
}

/* Style for each suggestion item in the dropdown menu */
.tt-suggestion {
    padding: 8px;
    cursor: pointer;
}

/* Style for the selected suggestion in the dropdown menu */
.tt-suggestion:hover,
.tt-suggestion:focus {
    background-color: #6eaff7;
}

/* Style for the input field */
.tt-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the container surrounding the Typeahead component */
.tt-container {
    display: inline-block;
    width: 100%;
}
